In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import an API key
from config import g_key

In [2]:
# Store the CSV you created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-12-09 21:45:25,22.0752,-159.3190,80.92,82,20,3.00
1,1,Tombouctou,ML,2021-12-09 21:45:26,20.0000,-3.0000,69.35,14,100,11.05
2,2,Kavieng,PG,2021-12-09 21:45:26,-2.5744,150.7967,83.25,81,67,17.27
3,3,Porto Walter,BR,2021-12-09 21:45:27,-8.2686,-72.7439,82.89,69,100,3.13
4,4,Airai,TL,2021-12-09 21:45:27,-8.9266,125.4092,62.65,85,92,1.07

In [3]:
# Get the data types
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria
prefferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<= max_temp) & (city_data_df["Max Temp"]>= min_temp)].dropna()
prefferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-12-09 21:45:25,22.0752,-159.3190,80.92,82,20,3.00
2,2,Kavieng,PG,2021-12-09 21:45:26,-2.5744,150.7967,83.25,81,67,17.27
3,3,Porto Walter,BR,2021-12-09 21:45:27,-8.2686,-72.7439,82.89,69,100,3.13
9,9,Mathathane,BW,2021-12-09 21:45:29,-22.2687,28.7495,76.62,50,67,4.63
15,15,Atuona,PF,2021-12-09 21:45:30,-9.8000,-139.0333,78.44,63,77,13.96
23,23,Hilo,US,2021-12-09 21:42:19,19.7297,-155.0900,79.11,60,75,9.22
26,26,Saint-Philippe,RE,2021-12-09 21:45:33,-21.3585,55.7679,76.55,78,54,9.48
27,27,Rikitea,PF,2021-12-09 21:45:33,-23.1203,-134.9692,75.85,73,86,20.98
29,29,Butaritari,KI,2021-12-09 21:45:34,3.0707,172.7902,81.93,77,99,8.46
30,30,Bengkulu,ID,2021-12-09 21:45:34,-3.8004,102.2655,75.69,91,100,5.21

In [11]:
# Check if there are any null values
prefferred_cities_df.count()

City ID       147
City          147
Country       147
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store names along with city, country, max temp, and coordinates
hotel_df = prefferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0            Kapaa      US     80.92  22.0752 -159.3190
2          Kavieng      PG     83.25  -2.5744  150.7967
3     Porto Walter      BR     82.89  -8.2686  -72.7439
9       Mathathane      BW     76.62 -22.2687   28.7495
15          Atuona      PF     78.44  -9.8000 -139.0333
23            Hilo      US     79.11  19.7297 -155.0900
26  Saint-Philippe      RE     76.55 -21.3585   55.7679
27         Rikitea      PF     75.85 -23.1203 -134.9692
29      Butaritari      KI     81.93   3.0707  172.7902
30        Bengkulu      ID     75.69  -3.8004  102.2655

In [13]:
# Set parameters to search for a hotel
params={
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    # Use the search term: "lodging and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url,params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Kavieng,PG,83.25,-2.5744,150.7967,Nusa Island Retreat
3,Porto Walter,BR,82.89,-8.2686,-72.7439,Secretaria de saúde
9,Mathathane,BW,76.62,-22.2687,28.7495,Selepswe Resort
15,Atuona,PF,78.44,-9.8000,-139.0333,Villa Enata
23,Hilo,US,79.11,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Saint-Philippe,RE,76.55,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
27,Rikitea,PF,75.85,-23.1203,-134.9692,People ThankYou
29,Butaritari,KI,81.93,3.0707,172.7902,Isles Sunset Lodge
30,Bengkulu,ID,75.69,-3.8004,102.2655,Grage Hotel Bengkulu

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the markers for each city
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))